*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    background-color: black;
}
.main{
    width: 1000px;
    height: 1000px;
    margin: 0px auto;
    background-color: white;
}
.header{
    width: 100%;
    height: 159px;
    background-color: rebeccapurple;
    background: url(images/headerbg.jpg) no-repeat;
    float: left;
}
.logo{
    width: 200px;
    height: 150px;
    /* background-color: lavender; */
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
.headercontact{
    width: 250px;
    height: 159px;
    background-color: khaki;
    float: right;
    background: url(images/topcontactbg.png) no-repeat;
    margin-top: 20px;
    margin-right: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-right: 50px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-weight: lighter;
}
.websitename{
    margin-bottom: 6px;
    height: 28px;
    border-bottom: 1px dotted #085b92;
}
.websitename a{
    margin-top: -5px;
    text-decoration: none;
    color: white;
    margin-left: 5px;

}
.mailid{
    margin-bottom: 6px;
    height: 28px;
    border-bottom: 1px dotted #085b92;
}
.mailid a{
    margin-top: -5px;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.phone{
    margin-bottom: 6px;
    height: 28px;
}
.pages{
    width: 100%;
    height: 43px;
    /* background-color:tan; */
    float: left;
    background: url(images/menubg.jpg) repeat-x;
    border-bottom: 3px solid white;
}

.pages ul{
    margin: 0;
    padding: 0px;
}


.pages li a{
    margin: 0px;
    color: white;
    font-size: 14px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    padding: 13px 18px;
    text-decoration: none;
    border-right: 1px solid #085b92;
    cursor: pointer;
}
.pages li a:hover{
    background: url(images/menubg_hover.jpg) repeat-x;
}
.maincontent{
    width: 100%;
    height: 290px;
    background:#2b77a0;
    float: left;
    margin: 0px auto;
    border-bottom: 3px white solid;
}
.left{
    width: 200px;
    height: 228px;
    background: white;
    margin: 14px 0px;
    margin-left: 20px;
    box-shadow: #246284 0px 0px 10px 7px;
    z-index: 2;
    position: relative;
    padding: 17px;
    float: left;
}
.duration{
    width: 198px;
    height: 39px;
    border-bottom: 1px dotted #cdcdcd;
}
.duration p{
    float: left;
    font-size: 16px;
    color: #286f95;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 7px;
    padding-top: 9px;
}
.duration img{
    float: left;
    margin-top: 9px;
}
.duration1{
    width: 198px;
    height: 39px;
}
.duration1 p{
        float: left;
        font-size: 16px;
        color: #286f95;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 7px;
        padding-top: 9px;
    }
.duration1 img{
        float: left;
        margin-top: 9px;
    }
.sep{
    float: left;
    margin-left: 3px;
}
.right{
    width: 700px;
    height: 262px;
    box-shadow: #246284 0px 0px 10px 7px;
    margin: 14px 0px;
    margin-right: 23px;
    z-index: 2;
    position: relative;
    float: right;
}
.right img{
    border: none;
}
.content{
    width: 100%;
    height: 300px;
    background-color: white;
    float: left;
    border: 1px white solid;
    box-sizing: border-box;
}
.leftcontent{
    margin: 12px 0px;
    width: 231px;
    padding-left: 20px;
    padding-right: 15px;
    float: left;
    height: 275px;
    /* background-color: firebrick; */
}
.company{
    font-size: 18px;
    color: #747773;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #c6c6c6;
    width: 230px;
    height: 40px;
    /* background-color: cadetblue; */
}
.company p{
    float: left;
    margin-top: 4px;
}

.company span{
    color: #286f95;
    font-weight: bold;
    margin-right: 5px;
}
.company img{
    float: right;
    margin-bottom: 6px;
}
.border1{
    border-bottom: 1px solid #c6c6c6;
    width: 20px;
    padding: 1px 30px;
    margin-top: 16px;
    float: left;
}
.companylogo{
    padding: 15px 0px;
    text-align: center;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 5px;
   
}
.companylogo img{
    margin-top: 5px;
}
.websitename1{
    height: 38px;
    border-bottom: 1px dotted #c6c6c6;
}

.websitename1 img{
    float: left;
    margin-top: 5px;
}
.websitename1 a{
    color: #6d6d6d;
    float: left;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 6px;
    margin-left: 5px;
    font-size: 18px;
}
.mailid1{
    height: 38px;
    border-bottom: 1px dotted #c6c6c6;
}

.mailid1 img{
    float: left;
    margin-top: 10px;
}
.mailid1 a{
    color: #6d6d6d;
    float: left;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 6px;
    margin-left: 5px;
    font-size: 18px;
}
.phone1{
    height: 38px;
   
}

.phone1 img{
    float: left;
    margin-top: 10px;
}
.phone1 p{
    color: #6d6d6d;
    float: left;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 6px;
    margin-left: 5px;
    font-size: 18px;
}
.rightcontent{
    float: left;
    padding: 7px 25px;
    width: 675px;
    height: 269px;
    padding-top: 0px;
    margin-top: 12px;
    border-left: 1px solid #dddddd;
    /* background-color: darkblue; */
}
.benefits{
    width: 100%;
    height: 40px;
    /* background-color: saddlebrown; */
    border-bottom: 1px solid #e0e0e0;
    float: left;
}
.benefits h4{
        padding-top: 6px;
        color: #747773;
        font-family: 'Times New Roman', Times, serif;

}
.benefits h4 span{
    color: #286f95;
    font-weight: bold;
}
.para{
    width: 100%;
    height: 200px;
    /* background-color: aqua; */
    float: left;
}
.para p{
    font-size: 12px;
    color: #818181;
    padding-top: 10px;
    text-align: justify;
}
.footer{
    width: 960px;
    height: 179px;
    background-color: olive;
    float: left;
    background: url(images/footerbg.jpg) no-repeat;
    margin: 0px auto;
    padding: 20px;
}
.quick{
    width: 286px;
    border-right: 1px solid #0f506c;
    padding-right: 25px;
    float: left;
    padding-bottom: 25px;
}
.links{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #3287af;
}

.footerhome li img{
    float: left;
    
}
.footerhome li{
    float: left;
    width: 140px;
    margin-right: 0px;
    margin-top: 15px;
}
.footerhome li a{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    /* padding-bottom: 10px; */
    float: left;
}


.services{
    width: 286px;
    border-right: 1px solid #0f506c;
    padding: 0px 25px;
    float: left;
    padding-bottom: 25px;
}

.location{
    width: 286px;
    padding-left: 25px;
    float: left;
    padding-bottom: 25px;
}
.lorem{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    padding: 15px 0px;
    color: #3aa4d2;
    border-bottom: 1px solid #0d4964;
    text-align: justify;
}
.lorem span{
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
.copyright{
    width: 960px;
    height: 30px ;
    background: #033a53;
    border-top: 1px dotted #3287af;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: white;
    padding-top: 10px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
.copyright span{
    float: right;
}
.social{
    margin-top: 10px;
}
.social span img{
    float: left;
}
.follow{
    color: #4cb8e8;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
    text-shadow: 1px 1px 15px #000;
    width: 70px;
    padding: 8px 10px;
    float: left;
    margin-left: 10px;

}

.media{
    float: left;
    background: url(images/my.png) no-repeat;
    width: 140px;
    height: 45px;
    margin-left: 5px;
    text-align: right;
    padding-right: 18px;
}

.media img{
    margin-top: 10px;
}


/*  about */
.leftdiv{
    width: 300px;
    height: 610px;
    background: #2b77a0;
    float: left;
    margin-bottom: 5px;

}

.maincontent1{
    width: 100%;
    height: 600px;
    background:white;
    float: left;
    margin: 0px auto;
    border-bottom: 3px white solid;
}

.left1{
    width: 220px;
    height: 240px;
    background: white;
    margin: 14px 0px;
    margin-left: 20px;
    box-shadow: #246284 0px 0px 10px 7px;
    z-index: 2;
    position: relative;
    padding: 17px;
    float: left;
}

.rightdiv{
    width: 676px;
    height: 610px;
    background-color: white;
    float: right;
    padding-left: 12px;
    padding-right: 12px;

}


.aboutiiphead{
    width: 100%;
    margin-top: 10px;
    /* background-color:lawngreen; */
    height: 30px;
    border-bottom: 1px solid #e0e0e0;
    color: #747773;
    font-size: 20px;
    padding-bottom: 15px;
    float: left;
}
.aboutiiphead span{
    color: #286f95;
    font-weight: bold;
}
.para6{
    width: 100%;
    height: 375px;
    float: left;
    /* background-color: aqua; */
}
.para6 p{
    color:#5b5b5b;
    float: left;
    text-align: justify;
    line-height: 20px;
    margin-top: 10px;
    /* background:blueviolet; */
    font-size: 18px;
    width: 100%;
    height: auto;

}
.why{
    width: 100%;
    height: 30px;
    float: left;
}
.why h3{
    margin-top: 12px;
    font-weight: bold;
    font-size: 25px;
    float: left;
    
}
.para1 p{
    color:#5b5b5b;
    float: left;
    text-align: justify;
    line-height: 18px;
    margin-top: 20px;
    /* background:khaki; */
    font-size: 18px;
    width: 100%;
    height: auto;
}


/* courses */
.para2{
    
        width: 100%;
        height: 375px;
        float: left;
        /* background-color: aqua; */
    } 

.para2 p{
    color:#5b5b5b;
    float: left;
    text-align: justify;
    line-height: 20px;
    margin-top: 10px;
    /* background:blueviolet; */
    font-size: 18px;
    width: 100%;
    height: auto;
}
/* gallery */
.gallery{
    width: 200px;
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
    /* background-color: saddlebrown; */
    height: 150px;
}

/* enquiry */

.enquiry {
    width: 100%;
        height: 550px;
        float: left;
        /* background-color: aqua;  */
}
.gender{
  
    width: 90%;
    height:30px;
    /* background-color: red; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.firstrow{
    height: 30px;
    width: 100px;
    /* background-color: hotpink; */
    float: left;
    font-size: 14px;

}
.radiobutton{
 font-size: 14px;
}

.textbox{
    width: 200px;
    height: 90%;
}

.gender1{
width: 90%;
   height:100px;
    /* background-color: red; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.textarea{
    width: 200px;
    border: 1px solid #5b5b5b;
    resize: none;
    height: 100px;
    color: #5b5b5b;
}


.btn{
    background:#09f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}


/* contactus */
.para2 h3{
    color: #5b5b5b;
    padding-top: 10px;
    font-size: 18px;
    margin-bottom: 20px;

}
.number{
    line-height: 40px;
    color: #5b5b5b;
}

.number b{
    color: black;
}























